<header>
    <div class="container">
    <div id="sticky-header" class="menu-area transparent-bg">
        <div class="container">
            <div id="menu-items" class="row align-items-center">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                    <div class="logo">
                        <a href="{{ '/' | relative_url }}"><img src="{{ '/assets/img/logo/logo_2.png' | relative_url }}" class="img-fluid" alt="{{site.title}}"></a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 text-right">
                    <div class="main-menu transparent-menu">
                      {% include navigation.html %}
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>
<!-- Modal Search -->
<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form role="search">
                <label class="sr-only" for="search-input">Search the Nova Vector website</label>
                <input type="search" id="search-input" placeholder="Search the website">
                <button type="button" aria-label="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <ul id="results-container"></ul>
        </div>
    </div>
</div>
