<section class="service-area darker-grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="section-title service-title">
                    <h3>Our Services</h3>
                </div>
                <div class="services-paragraph">
                    <p>Nova Vector provides implementation, integration, support, and training services for Industrial IoT, edge computing, real-time analytics, and industrial automation solutions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="features-wrap">
                    <div class="features-icon">
                        <img src="{{site.baseurl}}/assets/img/icons/support.png" id="support-icon" alt="Support">
                    </div>
                    <div class="section-title service-title">
                        <h4>Support</h4>
                    </div>
                        <p>Support for platform configuration, integrations, diagnostics, upgrades, and deployed edge components within an agreed service scope.</p>
                        <a class="btn" href="{{ '/support/' | relative_url }}">More details</a>
                </div>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="features-wrap">
                    <div class="features-icon">
                        <img src="{{site.baseurl}}/assets/img/icons/services.png" id="services-icon" alt="Service">
                    </div>
                    <div class="section-title service-title">
                        <h4>Service</h4>
                    </div>
                        <p>Deployment, configuration, systems integration, and maintenance services for Nova Vector installations.</p>
                        <a class="btn" href="{{ '/professional-services/' | relative_url }}">More details</a>
                </div>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="features-wrap">
                    <div class="features-icon">
                        <img src="{{site.baseurl}}/assets/img/icons/training.png" id="training-icon" alt="Training">
                    </div>
                    <div class="section-title service-title">
                        <h4>Training</h4>
                    </div>
                        <p>Role-based platform training for administrators, developers, integrators, and operational users.</p>
                        <a class="btn" href="{{ '/training/' | relative_url }}">More details</a>
                </div>
            </div>
        </div>
    </div>
</section>
