<section class="slider-area">
    <div class="slider-active" style="background-image:url({{site.baseurl}}/assets/img/slider/first_frame.png)">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/nv-video-v01.gif)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Industrial IoT.<br><span>From Edge to Enterprise.</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Connect machines, sensors, and systems. Process data at the edge, monitor operations in real time, and integrate industrial data with enterprise applications.</p>
                            <a href="{{ '/industrial-iot-platform/' | relative_url }}" class="btn" id="sliderbutton" data-animation="fadeInUp" data-delay=".6s">Explore the Platform</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
