
<!-- user-story -->
<section class="user-story">
    <script>
        function setNavLinksHeight() {
          const navLinks = document.querySelectorAll('.nav-link');
          let maxHeight = 0;

          navLinks.forEach(link => {
            const linkHeight = link.getBoundingClientRect().height;
            maxHeight = Math.max(maxHeight, linkHeight);
          });

          navLinks.forEach(link => {
            link.style.height = `${maxHeight}px`;
          });
        }

        window.addEventListener('DOMContentLoaded', setNavLinksHeight);
        window.addEventListener('resize', setNavLinksHeight);
    </script>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>User Story</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
            <p class="black-text">Here are some of the user stories of the Nova Vector Industry 4.0 Platform.</p>
            </div>
        </div>
    </div>

    <!-- Container for the image gallery -->
    <div class="container-fluid">
        <div class="container-box">
            <!-- Tabs navs -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-industry-tab" data-toggle="tab" href="#nav-industry" role="tab" aria-controls="nav-industry" aria-selected="true">
                                                Smart <br>Industry
                                            </a>
                    <a class="nav-link" id="nav-education-tab" data-toggle="tab" href="#nav-education" role="tab" aria-controls="nav-education" aria-selected="false">
                                                Education
                                            </a>
                    <a class="nav-link" id="nav-building-tab" data-toggle="tab" href="#nav-building" role="tab" aria-controls="nav-building" aria-selected="false">
                                                Smart <br>Building
                                            </a>
                    <a class="nav-link" id="nav-agriculture-tab" data-toggle="tab" href="#nav-agriculture" role="tab" aria-controls="nav-agriculture" aria-selected="false">
                                                Smart <br>Agriculture
                                            </a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-agriculture" role="tabpanel" aria-labelledby="nav-agriculture-tab" style="background-image:url({{site.baseurl}}/assets/img/clients/agriculture-resized.png)">
                        <div class="row">
                            <div class="col-xl-12">
                                    <h4>Smart <br> agriculture</h4>
                                    <p>Connect soil, weather, and equipment data to monitor agricultural conditions and support irrigation and operational decisions.</p>
                                    <a href="{{ '/pages/smart-agriculture' | relative_url }}" id="bigbtn" class="btn">More details</a>
                            </div>
                        </div>
                </div>
                <div class="tab-pane fade show active" id="nav-industry" role="tabpanel" aria-labelledby="nav-industry-tab" style="background-image:url({{site.baseurl}}/assets/img/clients/industry-resized.png)">
                        <div class="row">
                            <div class="col-xl-12">
                                    <h4>Smart <br> industry</h4>
                                    <p>Connect production equipment and existing systems to monitor operating conditions, analyze downtime, and support maintenance and production decisions.</p>
                                    <a href="{{ '/pages/smart-industry' | relative_url }}" id="bigbtn" class="btn">More details</a>
                            </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-building" role="tabpanel" aria-labelledby="nav-building-tab" style="background-image:url({{site.baseurl}}/assets/img/clients/building-resized.png)">
                        <div class="row">
                            <div class="col-xl-12">
                                    <h4>Smart <br> building</h4>
                                    <p>Connect building sensors and energy-management systems to monitor indoor conditions, energy use, and maintenance events.</p>
                                    <a href="{{ '/pages/smart-building' | relative_url }}" id="bigbtn" class="btn">More details</a>
                            </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab" style="background-image:url({{site.baseurl}}/assets/img/clients/education-resized.png)">
                        <div class="row">
                            <div class="col-xl-12">
                                    <h4>Education</h4>
                                    <p>Connect campus equipment and environmental sensors to monitor facilities, energy use, and operating conditions.</p>
                                    <a href="{{ '/pages/education' | relative_url }}" id="bigbtn" class="btn">More details</a>
                            </div>
                    </div>
                </div>
              </div>

        </div>
    </div>
</section>
