---
layout: default
---
{% include header_3.html %}
<main class="v3-page v3-page--{{ page.theme | default: 'platform' }}{% if page.homepage %} v3-page--home{% endif %}">
  {% include v3/page_hero.html %}
  {% if page.homepage %}
    {% include v3/deployment_strip.html %}
    {% include v3/machine_flow.html %}
  {% endif %}
  {% if page.show_architecture %}
    {% include v3/architecture.html %}
  {% endif %}
  {% include v3/capability_cards.html %}
  {% include v3/content_sections.html %}
  {% if page.screenshots %}
    {% include v3/screenshot_showcase.html %}
  {% endif %}
  {% if page.proof_points %}
    {% include v3/proof_points.html %}
  {% endif %}
  {% if page.homepage %}
    {% include v3/solution_grid.html %}
    {% include v3/proof_preview.html %}
  {% endif %}
  {% include v3/related_links.html %}
  {% if page.faq %}
    {% include v3/faq.html %}
  {% endif %}
  {% include v3/conversion_cta.html %}
</main>
